.footer {
    background-color: #f0f0f0;
}

.sb-section {
    padding: 4rem 4rem;
}

.footer-section {
    display: flex;
    flex-direction: column;
}

.footer-section-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
}

.footer-section-links-div {
    width: 220px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #000;
    margin: 10px;
}

/* .footer-section-links-div .footer-img {
    width: 150px;
    height: 150px;
} */

.footer-socialMedia {
    display: flex;
    flex-direction: row;
}

.footer-socialMedia img {
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

.footer-section-links-div input {
    margin-right: 10px;
    cursor: pointer;
}

.footer-section-links-div span,
.footer-section-service span {
    font-size: 17px;
    margin-right: 10px;
}

.footer-section-links-div h4 {
    font-size: 15px;
    line-height: 17px;
    margin: 0.5rem 0;
    cursor: pointer;
}

.footer-section-links-div p {
    font-size: 13px;
    line-height: 15px;
    margin: 0.2rem 0;
    cursor: pointer;
}

.footer-section-below {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.2rem;
    color: #000;
    margin-top: 1rem;
}

.footer-section-service {
    display: flex;
    flex-direction: row;
}

.footer-section-service p {
    font-size: 13px;
    line-height: 15px;
    margin-left: 1.5rem;
}

hr {
    color: #fff !important;
    width: 100%;
}

@media screen and (max-width: 550px) {
    .footer-section-below {
        flex-direction: column;
        justify-content: left;
    }

    .footer-section-service {
        flex-direction: column;
        margin-top: 1rem;
    }

    .footer-section-service p {
        margin-left: 0;
        margin-top: 1rem;
    }
} 